<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block styles %}
<style>
    .carousel-item {
        height: max-content;
    }

    .carousel-item img {
        object-fit: cover;
        height: 500px;
        width: 100%;
        scale: 101%;
    }

    .card {
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .card-img-top {
        height: 200px !important;
        object-fit: contain !important;
        border-bottom: 1px solid #ddd;
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-img-bottom {
        width: 100%;
        object-fit: contain;
    }

    button:disabled {
        color: #999 !important;
        border: none !important;
    }

    .wholesale-bar {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        padding-inline: 3rem;
    }

    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

    figure.snip1157 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 250px;
        max-width: 100%;
        width: fit-content;
        color: #333;
        text-align: left;
        box-shadow: none !important;
    }

    figure.snip1157 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }

    figure.snip1157 img {
        max-width: 100%;
        vertical-align: middle;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 40px 0 0 10px;
    }

    figure.snip1157 blockquote {
        display: block;
        border-radius: 8px;
        position: relative;
        background-color: #1A6F67;
        color: #ffffff;
        padding: 25px 50px 30px 50px;
        font-size: 0.8em;
        font-weight: 500;
        margin: 0;
        line-height: 1.6em;
        font-style: italic;
        min-height: 300px;
    }

    figure.snip1157 blockquote:before,
    figure.snip1157 blockquote:after {
        font-family: 'FontAwesome';
        content: "\201C";
        position: absolute;
        font-size: 50px;
        opacity: 0.3;
        font-style: normal;
    }

    figure.snip1157 blockquote:before {
        top: 25px;
        left: 20px;
        font-size: x-large;
    }

    figure.snip1157 blockquote:after {
        content: "\201D";
        right: 20px;
        bottom: 25px;
        font-size: x-large;
    }

    figure.snip1157 .arrow {
        top: 100%;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #1A6F67;
        margin: 0;
        position: absolute;
    }

    figure.snip1157 .author {
        position: absolute;
        bottom: 45px;
        padding: 0 10px 0 120px;
        margin: 0;
        text-transform: uppercase;
        color: #198754;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

    figure.snip1157 .author h5 {
        opacity: 0.8;
        margin: 0;
        font-weight: 800;
    }

    figure.snip1157 .author h5 span {
        font-weight: 400;
        text-transform: none;
        padding-left: 5px;
    }

    .ct-image {
        max-width: 200px;
        /* height: fit-content; */
        aspect-ratio: 3/2;
        object-fit: contain;

    }

    @media (max-width: 767px) {
        .card-title {
            font-size: 1rem;
        }

        .carousel-item img {
            object-fit: cover;
            height: 200px;
        }

        .popup-card {
            width: 90% !important;
        }

        .popup-card img {
            width: 100% !important;
            height: 350px !important;
        }

        .wholesale-bar {
            flex-direction: column;
            padding-inline: 1.5rem;
        }

        figure.snip1157 .author h5 {
            font-size: medium;
        }

        figure.snip1157 .author h5 span {
            font-size: small;
        }
        .card-img-top{
            height: 150px!important;
        }
    }
</style>
<style>
    /* Popup styles */
    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .popup-card {
        background-color: white;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: fit-content;
        max-width: 500px;
        min-width: 250px;
        position: relative;
    }

    .popup-card img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .popup-card p {
        border-top: #999 solid 1px;
        margin-bottom: 20px;
        padding: 10px;
        max-height: 100px;
        overflow-y: scroll;
    }

    /* Additional styles to handle animation (fade in) */
    .popup-container.fade-in {
        animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

{% endblock styles %}
{% block body %}
{% if popup_content %}
<!-- Popup container -->
<div id="popup-container" class="popup-container fade-in">
    <div class="popup-card">
        <span class="popup-close-btn me-2" onclick="closePopup()">&times;</span>
        <img src="{{ popup_content.image_url }}" alt="Popup Image">
        <p>{{ popup_content.description }}</p>
        <a href="{{ popup_content.redirection_link }}" style="width: 90%;" class="btn btn-ss">
            {{ popup_content.button_name }}</a>
    </div>
</div>
{% endif %}
<!-- Hero Section with Carousel -->
<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for image in carousel_url %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if image.media_type == 'image' %}
            <img src="{{ image.media_url }}" class="d-block w-100" alt="Hero Image {{ forloop.counter }}">
            {% elif image.media_type == 'video' %}
            <video controls class="d-block w-100" alt="Hero Video {{ forloop.counter }}">
                <source src="{{ image.media_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Search Bar -->
<!-- <div class="container mt-4">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action="{% url 'product_search' %}" method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="q" placeholder="Search for products...">
                            <div style="margin-left: 10px;" class="input-group-append">
                                <button class="btn btn-ss" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

<!-- Product Recommendations -->
<div class="container mt-4">
    <h2 class="text-center">Best Sellers</h2>
    <div class="row product-cards-mobile">
        {% for product in recommended_products %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="card product-card text-center">
                <div id="carousel{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for media in product.media_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            {% if media.media_type == 'image' %}
                            <img src="{{ media.media_url }}" class="d-block w-100 img-fluid card-img-top"
                                alt="Product Image">
                            {% elif media.media_type == 'video' %}
                            <video class="d-block w-100 card-img-top" controls>
                                <source src="{{ media.media_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.id }}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.id }}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-ss">Shop Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Call to Action -->
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h2 class="display-4">Ready to Shop?</h2>
        <p class="lead">Explore our collection and find the perfect products for you.</p>
        <a class="btn btn-ss btn-lg" href="/store/products/" role="button">Start Shopping</a>
    </div>
</div>

<!-- Special Offers Section -->
<section class="container mt-4">
    <h2 class="text-center">Special Offers</h2>
    <div class="row product-cards-mobile">
        {% for product in special_offers_products %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="card product-card text-center">
                <!-- Image Carousel -->
                <div id="carousel{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for media in product.media_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            {% if media.media_type == 'image' %}
                            <img src="{{ media.media_url }}" class="d-block w-100 img-fluid card-img-top"
                                alt="Product Image">
                            {% elif media.media_type == 'video' %}
                            <video class="d-block w-100 card-img-top" controls>
                                <source src="{{ media.media_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.id }}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.id }}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-ss">Shop Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Product Carousel Section -->
<section class="container mt-4">
    <h2 class="text-center">Products</h2>
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for product_chunk in product_chunk_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row product-cards-mobile">
                        {% for product in product_chunk %}
                            <div class="col-6 col-md-4 col-lg-3 my-2">
                                <div class="card product-card text-center">
                                    <div id="carousel{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for media in product.media_set.all %}
                                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                    {% if media.media_type == 'image' %}
                                                        <img src="{{ media.media_url }}" class="d-block w-100 img-fluid card-img-top" alt="Product Image">
                                                    {% elif media.media_type == 'video' %}
                                                        <video class="d-block w-100 card-img-top" controls>
                                                            <source src="{{ media.media_url }}" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-ss">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</section>



<!-- Reviews Section -->
<section class="container mt-4">
    <b>
        <h2 class="text-center">What People Say About Us</h2>
    </b>
    <div id="reviewCarousel" class="carousel slide display-mobile" data-ride="carousel">
        <div class="carousel-inner">
            {% for review in reviews %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="col-md-4">
                    <figure class="snip1157">
                        <blockquote>{{ review.review_text }}
                            <div class="arrow"></div>
                        </blockquote>
                        {% if review.photo_url %}
                            <img src="{{ review.photo_url }}" alt="Customer Photo">
                        {% endif %}
                        <div class="author">
                            <h5>{{ review.customer_name }}<span>{{ review.location }}</span></h5>
                        </div>
                    </figure>
                </div>
            </div>
            {% endfor %}           
        </div>
    </div>
    <div id="reviewCarousel" class="carousel slide display-desktop" data-ride="carousel">
        <div class="carousel-inner">
            {% for review in reviews %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <div style="display: flex!important;" class="carousel-item {% if forloop.first %}active{% endif %} row">
                {% endif %}
    
                <div class="col-md-4">
                    <figure class="snip1157">
                        <blockquote>{{ review.review_text }}
                            <div class="arrow"></div>
                        </blockquote>
                        {% if review.photo_url %}
                            <img src="{{ review.photo_url }}" alt="Customer Photo">
                        {% endif %}
                        <div class="author">
                            <h5>{{ review.customer_name }}<span>{{ review.location }}</span></h5>
                        </div>
                    </figure>
                </div>
    
                {% endfor %}
                {% if forloop.last or forloop.counter0|divisibleby:3 %}
            </div>
                {% endif %}
        </div>
    </div>
    

</section>
<section style="background-color: #38a509;color: white; margin-bottom: -3rem p-0 m-0">
    <div class="wholesale-bar row me-0">
        <div class="col-md-6">
            <h3 class="text-white">Looking to buy in Bulk?</h3>
            <p>Our wholesale team is available and will assist you during the process.</p>
        </div>
        <div style="display: flex;align-items: center;justify-content: end;" class="col-md-6">
            <a class="btn btn-light text-success">Get In Touch</a>
        </div>
    </div>
    <div class="row me-0" style="background-color: #FFFFFF!important; justify-content: center;align-items: center;">
        <b>
            <h2 class="text-center pt-2">We are also available on...</h2>
        </b>
        <img id="image-Amazon" alt="Available on Amazon"
            src="https://1000logos.net/wp-content/uploads/2016/10/Amazon-Logo.png" class="ct-image">
        <img id="image-JioStore" alt="Available on Jio Store"
            src="https://5.imimg.com/data5/SELLER/Default/2023/6/318053740/EN/UN/ZB/123005145/jiomart--500x500.png"
            class="ct-image">
        <img id="image-Flipkart" alt="Available on Flipkart"
            src="https://1000logos.net/wp-content/uploads/2021/02/Flipkart-logo.png" class="ct-image">
        <img id="image-Bigbasket" alt="Available on Bigbasket"
            src="https://indicwisdom.com/wp-content/uploads/2022/12/pinpng.com-paytm-logo-png-3345054.jpg"
            class="ct-image">
        <img id="image-Blinkit" alt="Available on Blinkit"
            src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=900/assets/ui/print/bl_logo_web.png"
            class="ct-image">
    </div>
</section>


{% endblock body %}
{% block javascript %}
<script>
    // Function to calculate and display the discount percentage
    function displayDiscountPercentage(price, finalPrice, discountContainer) {
        // Ensure the elements exist before performing calculations
        if (price && finalPrice && discountContainer) {
            // Parse the price values
            const originalPrice = parseFloat(price.replace('MRP: ₹', '').trim());
            const discountedPrice = parseFloat(finalPrice.replace('Price: ₹', '').trim());

            // Calculate the discount percentage
            const discountPercentage = ((originalPrice - discountedPrice) / originalPrice) * 100;

            // Display the discount percentage in the specified container
            discountContainer.textContent = discountPercentage.toFixed(0) + '% OFF';
        }
    }

    // Call the function for each product card on page load
    document.addEventListener('DOMContentLoaded', function () {
        const productCards = document.querySelectorAll('.card');

        productCards.forEach(function (card) {
            const priceElement = card.querySelector('#price');
            const finalPriceElement = card.querySelector('#final_price');
            const discountContainer = card.querySelector('.text-success');

            if (priceElement && finalPriceElement && discountContainer) {
                const price = priceElement.textContent;
                const finalPrice = finalPriceElement.textContent;

                // Call the function to display the discount percentage
                displayDiscountPercentage(price, finalPrice, discountContainer);
            }
        });
    });
</script>
<script>
    // Add JavaScript to handle popup display
    document.addEventListener('DOMContentLoaded', function () {
        // Check if the popup container exists
        const popupContainer = document.getElementById('popup-container');

        // Display the popup if it exists
        if (popupContainer) {
            popupContainer.style.display = 'flex';
        }
    });

    // Function to close the popup
    function closePopup() {
        const popupContainer = document.getElementById('popup-container');
        if (popupContainer) {
            popupContainer.style.display = 'none';
        }
    }
</script>
{% endblock javascript %}