<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block styles %}
<style>
    .row {
        justify-content: space-evenly !important;
    }

    .carousel-item {
        height: max-content;
    }

    .carousel-item img,
    video {
        object-fit: cover;
        height: 500px;
        width: 100%;
        scale: 101%;
    }

    .card {
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .card-img-top {
        height: 200px !important;
        object-fit: contain !important;
        border-bottom: 1px solid #ddd;
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-img-bottom {
        width: 100%;
        object-fit: contain;
    }

    button:disabled {
        color: #999 !important;
        border: #dc3545 solid 1px;
        padding: 3px;
    }

    .wholesale-bar {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        padding-inline: 3rem;
    }

    .body-container {
        margin-top: 0 !important;
    }

    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

    figure.snip1157 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 250px;
        max-width: 100%;
        width: fit-content;
        background-color: #1A6F67;
        text-align: center;
        box-shadow: none !important;
        border-radius: 13px;
    }

    figure.snip1157 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }

    figure.snip1157 img {
        max-width: 100%;
        vertical-align: middle;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 40px 0 0 10px;
        border: white solid 2px;
    }

    figure.snip1157 blockquote {
        display: block;
        border-radius: 8px;
        position: relative;
        background-color: #1A6F67;
        color: #ffffff;
        padding: 25px 50px 30px 50px;
        font-size: 0.8em;
        font-weight: 500;
        margin: 0;
        line-height: 1.6em;
        font-style: italic;
        min-height: 300px;
    }

    figure.snip1157 blockquote:before,
    figure.snip1157 blockquote:after {
        font-family: 'FontAwesome';
        content: "\201C";
        position: absolute;
        font-size: 50px;
        opacity: 0.3;
        font-style: normal;
    }

    figure.snip1157 blockquote:before {
        top: 25px;
        left: 20px;
        font-size: x-large;
    }

    figure.snip1157 blockquote:after {
        content: "\201D";
        right: 20px;
        bottom: 25px;
        font-size: x-large;
    }

    figure.snip1157 .arrow {
        top: 100%;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #1A6F67;
        margin: 0;
        position: absolute;
    }

    figure.snip1157 .author {
        top: 45px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #ffffff;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

    figure.snip1157 .author h5 {
        opacity: 0.8;
        margin: 0;
        font-weight: 800;
    }

    figure.snip1157 .author h5 span {
        font-weight: 400;
        text-transform: none;
        padding-left: 5px;
    }

    .ct-image {
        max-width: 200px;
        /* height: fit-content; */
        aspect-ratio: 3/2;
        object-fit: contain;

    }

    @media (max-width: 767px) {
        .card-title {
            font-size: 1rem;
        }

        .carousel-item img,
        video {
            object-fit: cover;
            height: 200px;
        }

        .popup-card {
            width: 90% !important;
        }

        .popup-card img {
            width: 100% !important;
            height: 350px !important;
        }

        .wholesale-bar {
            flex-direction: column;
            padding-inline: 1.5rem;
        }

        figure.snip1157 .author h5 {
            font-size: medium;
        }

        figure.snip1157 .author h5 span {
            font-size: small;
        }

        .card-img-top {
            height: 150px !important;
        }
        .getintouchpopup{
            width: 90%!important;
        }
    }
</style>

<style>
    /* Popup styles */
    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .popup-card {
        background-color: white;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: fit-content;
        max-width: 500px;
        min-width: 250px;
        position: relative;
    }

    .popup-card img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .popup-card p {
        border-top: #999 solid 1px;
        margin-bottom: 20px;
        padding: 10px;
        max-height: 100px;
        overflow-y: scroll;
    }

    /* Additional styles to handle animation (fade in) */
    .popup-container.fade-in {
        animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>
<style>
    input:focus,textarea:focus{
        border-color: #38a509!important;
        box-shadow: 0 0 0 0.2rem rgba(0, 255, 34, 0.25)!important;
    }
    /* Styling for the getintouchpopup card */
    .getintouchpopup {
      display: none;
      position: fixed;
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 999;
    }
    
    /* Styling for the overlay */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    /* Styling for the form */
    .form {
      text-align: center;
    }
    
    /* Styling for the close button */
    .close {
      position: absolute;
      top: 10px;
      right: 20px!important;
      cursor: pointer;
    }
    </style>

{% endblock styles %}
{% block body %}
{% if popup_content %}
<!-- Popup container -->
<div id="popup-container" class="popup-container fade-in">
    <div class="popup-card">
        <span class="popup-close-btn me-2" onclick="closePopup()">&times;</span>
        <a href="{{ popup_content.redirection_link }}" target="_blank">
            <img src="{{ popup_content.image_url }}" alt="Popup Image">
        </a>
        <p>{{ popup_content.description }}</p>
        <a href="{{ popup_content.redirection_link }}" target="_blank" style="width: 90%;" class="btn btn-ss">
            {{ popup_content.button_name }}</a>
    </div>
</div>
{% endif %}
<!-- Hero Section with Carousel -->
<div id="carouselHero" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for image in carousel_url %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if image.media_type == 'image' %}
            <img src="{{ image.media_url }}" class="d-block w-100" alt="Hero Image {{ forloop.counter }}">
            {% elif image.media_type == 'video' %}
            <video poster autoplay loop playsinline muted class="d-block w-100" alt="Hero Video {{ forloop.counter }}">
                <source src="{{ image.media_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselHero" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHero" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Search Bar -->
<!-- <div class="container mt-4">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action="{% url 'product_search' %}" method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="q" placeholder="Search for products...">
                            <div style="margin-left: 10px;" class="input-group-append">
                                <button class="btn btn-ss" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

<!-- Product Recommendations -->
<div class="container mt-4">
    <h2 class="text-center">Best Sellers</h2>
    <div class="row product-cards-mobile">
        {% for product in recommended_products %}
        <div class="col-6 col-md-4 col-lg-2 my-2 {% if forloop.counter > 4 %} mobile-hidden {% endif %}">
            <div class="product-card text-center card">
                <a href="{% url 'product_detail' product_id=product.id %}" target="_blank">
                    <img src="{{product.bestsellers_img_url }}" class="d-block w-100 img-fluid card-img-top" alt="Product Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'product_detail' product_id=product.id %}" target="_blank" class="btn btn-ss">Shop Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Call to Action -->
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h2 class="display-4">Ready to Shop?</h2>
        <p class="lead">Explore our collection and find the perfect products for you.</p>
        <a class="btn btn-ss btn-lg" href="/store/products/" role="button">Start Shopping</a>
    </div>
</div>

<!-- Special Offers Section -->
<section class="container mt-4">
    <h2 class="text-center">Special Offers</h2>
    <div class="row product-cards-mobile">
        {% for product in special_offers_products %}
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="card product-card text-center">
                <!-- Image Carousel -->
                <div id="carouselSpecialOffers{{ product.id }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for media in product.media_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{% url 'product_detail' product_id=product.id %}" target="_blank">
                                {% if media.media_type == 'image' %}
                                <img src="{{ media.media_url }}" class="d-block w-100 img-fluid card-img-top"
                                    alt="Product Image">
                                {% elif media.media_type == 'video' %}
                                <video class="d-block w-100 card-img-top" controls>
                                    <source src="{{ media.media_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'product_detail' product_id=product.id %}" target="_blank" class="btn btn-ss">Shop
                        Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Product Carousel Section -->
<section class="container mt-4">
    <h2 class="text-center">Products</h2>
    <div id="productCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for product_chunk in product_chunk_list %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row product-cards-mobile">
                    {% for product in product_chunk %}
                    <div class="col-6 col-md-4 col-lg-3 my-2">
                        <div class="card product-card text-center">
                            {% for media in product.media_set.all %}
                                <a href="{% url 'product_detail' product_id=product.id %}" target="_blank">
                                    {% if media.media_type == 'image' and forloop.first %}
                                        <img src="{{ media.media_url }}" class="d-block w-100 img-fluid card-img-top" alt="Product Image">
                                    {% elif media.media_type == 'video' and forloop.first %}
                                        <video class="d-block w-100 card-img-top" controls>
                                            <source src="{{ media.media_url }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% endif %}
                                </a>
                            {% endfor %}
                            <div style="text-align: left!important;" class="card-body product-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <span>Quantity:
                                    <div class=" mt-2 mb-2" role="group" aria-label="Quantity">
                                        {% for quantity_instance in product.productquantity_set.all %}
                                        {% with quantity_id=quantity_instance.quantity.id %}
                                        <button type="button"
                                            class="btn mb-2 btn-outline-success {% if forloop.first %}active-quantity{% endif %}"
                                            data-product-id="{{ product.id }}"
                                            data-quantity-id="{{ quantity_instance.quantity.id }}"
                                            data-quantity="{{ quantity_instance.quantity.name }}"
                                            data-price="{{ quantity_instance.price }}"
                                            data-final-price="{{ quantity_instance.final_price }}"
                                            data-available="{{ quantity_instance.available|lower }}"
                                            onclick="updatePrice('{{ product.id }}', '{{ quantity_instance.quantity.name }}', '{{ quantity_instance.price }}', '{{ quantity_instance.final_price }}', '{{ quantity_instance.available|lower }}', '{{ quantity_instance.quantity.id }}')">
                                            {{ quantity_instance.quantity.name }}
                                        </button>
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                </span>

                                <p class="availability">Availability:
                                    {% if product.productquantity_set.first.available %}
                                    <span id="inStock{{ product.id }}" class="text-success">In Stock</span>
                                    <span id="outOfStock{{ product.id }}" style="display: none;" class="text-danger">Out
                                        of Stock</span>
                                    {% else %}
                                    <span id="inStock{{ product.id }}" style="display: none;" class="text-success">In
                                        Stock</span>
                                    <span id="outOfStock{{ product.id }}" class="text-danger">Out of Stock</span>
                                    {% endif %}
                                </p>

                                <span id="price{{ product.id }}"
                                    class="card-text small text-decoration-line-through text-danger">
                                    MRP: ₹{{ product.productquantity_set.first.price }}
                                </span>
                                <span id="discount{{ product.id }}" class="discount mx-1 extra small"></span>
                                <p id="finalPrice{{ product.id }}" class="card-text text-primary">
                                    Price: ₹{{ product.productquantity_set.first.final_price }}
                                </p>
                                <form method="post" id="addToCartForm{{ product.id }}">
                                    {% csrf_token %}
                                    {% if product.productquantity_set.first.available %}
                                    <button type="submit" id="addToCart{{ product.id }}" class="btn add-to-cart-button cart-button"
                                        onclick="addToCart('{{ product.id }}')">
                                        <span class="add-to-cart">Add to cart</span>
                                        <span class="added">Added</span>
                                        <i class="fas fa-shopping-cart"></i>
                                        <i class="fas fa-box"></i>
                                    </button>
                                    <button type="submit" id="removeFromCart{{ product.id }}" style="display: none;"
                                        disabled class="btn disabled-btn cart-button" onclick="removeFromCart('{{ product.id }}')">
                                        <i style="font-size: 2rem;" class="fa-solid fa-cart-plus"></i>
                                    </button>
                                    {% else %}
                                    <button type="submit" id="addToCart{{ product.id }}" style="display: none;"
                                        class="btn add-to-cart-button cart-button" onclick="addToCart('{{ product.id }}')">
                                        <span class="add-to-cart">Add to cart</span>
                                        <span class="added">Added</span>
                                        <i class="fas fa-shopping-cart"></i>
                                        <i class="fas fa-box"></i>
                                    </button>
                                    <button type="submit" id="removeFromCart{{ product.id }}" disabled
                                        class="btn disabled-btn cart-button" onclick="removeFromCart('{{ product.id }}')">
                                        <i style="font-size: 2rem;" class="fa-solid fa-cart-plus"></i>
                                    </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>



<!-- Reviews Section -->
<section class="container mt-4">
    <b>
        <h2 class="text-center">What People Say About Us</h2>
    </b>
    <div id="reviewCarousel" class="carousel slide display-mobile" data-ride="carousel">
        <div class="carousel-inner">
            {% for review in reviews %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="col-md-4">
                    <figure class="snip1157">
                        {% if review.photo_url %}
                        <img src="{{ review.photo_url }}" alt="Customer Photo">
                        {% endif %}
                        <div class="author">
                            <h5>{{ review.customer_name }}</h5>
                            <p>{{ review.location }}</p>
                        </div>
                        <blockquote>{{ review.review_text }}
                            <div class="arrow"></div>
                        </blockquote>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="reviewCarousel" class="carousel slide display-desktop" data-ride="carousel">
        <div class="carousel-inner">
            {% for review in reviews %}
            {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <div style="display: flex!important;" class="carousel-item {% if forloop.first %}active{% endif %} row">
                {% endif %}

                <div class="col-md-4">
                    <figure class="snip1157">
                        {% if review.photo_url %}
                        <img src="{{ review.photo_url }}" alt="Customer Photo">
                        {% else %}
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Customer Photo">
                        {% endif %}
                        <div class="author">
                            <h5>{{ review.customer_name }}</h5>
                            <p>{{ review.location }}</p>
                        </div>
                        <blockquote>{{ review.review_text }}
                            <div class="arrow"></div>
                        </blockquote>
                    </figure>
                </div>

                {% endfor %}
                {% if forloop.last or forloop.counter0|divisibleby:3 %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section style="background-color: #38a509;color: white; margin-bottom: -3rem p-0 m-0">
    <div class="wholesale-bar row me-0">
        <div class="col-md-6">
            <h3 class="text-white">Looking to buy in Bulk?</h3>
            <p>Our wholesale team is available and will assist you during the process.</p>
        </div>
        <div style="display: flex;align-items: center;justify-content: end;" class="col-md-6">
            <button onclick="openGetInTouchPopup()" class="btn btn-light text-success">Get In Touch</button>
        </div>
        <div class="overlay" id="overlay"></div>

        <div class="getintouchpopup" id="getintouchpopup">
          <span class="close popup-close-btn" onclick="closeGetInTouchPopup()">&times;</span>
          <div class="form">
            <h2 class="mb-4">Get in Touch</h2>
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Name" required>
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" required>
              </div>
              <div class="mb-3">
                <input type="tel" class="form-control" placeholder="Phone Number" required>
              </div>
              <div class="mb-3">
                <input type="tel" class="form-control" placeholder="WhatsApp Number" required>
              </div>
              <div class="mb-3">
                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
              </div>
              <button type="submit" style="width: 100%;" class="btn btn-ss">Submit</button>
            </form>
          </div>
        </div>
    </div>
    <div class="row me-0" style="background-color: #FFFFFF!important; justify-content: center;align-items: center;">
        <b>
            <h2 class="text-center pt-2">We are also available on...</h2>
        </b>
        <img id="image-Amazon" alt="Available on Amazon"
            src="https://1000logos.net/wp-content/uploads/2016/10/Amazon-Logo.png" class="ct-image">
        <img id="image-JioStore" alt="Available on Jio Store"
            src="https://5.imimg.com/data5/SELLER/Default/2023/6/318053740/EN/UN/ZB/123005145/jiomart--500x500.png"
            class="ct-image">
        <img id="image-Flipkart" alt="Available on Flipkart"
            src="https://1000logos.net/wp-content/uploads/2021/02/Flipkart-logo.png" class="ct-image">
        <img id="image-Bigbasket" alt="Available on Bigbasket"
            src="https://indicwisdom.com/wp-content/uploads/2022/12/pinpng.com-paytm-logo-png-3345054.jpg"
            class="ct-image">
        <img id="image-Blinkit" alt="Available on Blinkit"
            src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=900/assets/ui/print/bl_logo_web.png"
            class="ct-image">
    </div>
</section>


{% endblock body %}
{% block javascript %}
<script>
    function updatePrice(productId, selectedQuantity, price, finalPrice, available, selectedQuantityId) {
        var priceElement = document.getElementById("price" + productId);
        var finalPriceElement = document.getElementById("finalPrice" + productId);

        priceElement.textContent = "MRP: ₹" + price;
        finalPriceElement.textContent = "Price: ₹" + finalPrice;

        displayDiscountPercentage(priceElement.textContent, finalPriceElement.textContent, productId);

        updateAvailability(available, productId, selectedQuantity);
        updateFormAction(productId, selectedQuantityId);
        updateActiveQuantityButton(productId, selectedQuantity);
    }

    function updateAvailability(availability, productId, selectedQuantity) {
        var addButton = document.getElementById("addToCart" + productId);
        var disabledButton = document.getElementById("removeFromCart" + productId);
        var inStockElement = document.getElementById("inStock" + productId);
        var outOfStockElement = document.getElementById("outOfStock" + productId);

        if (addButton && disabledButton && inStockElement && outOfStockElement) {
            if (availability === "true") {
                addButton.style.display = "block";
                disabledButton.style.display = "none";
                inStockElement.style.display = 'inline';
                outOfStockElement.style.display = 'none';
            } else {
                addButton.style.display = "none";
                disabledButton.style.display = "block";
                inStockElement.style.display = 'none';
                outOfStockElement.style.display = 'inline';
            }
        } else {
            console.error('Could not find elements for product ID:', productId, availability);
        }
    }

    function updateFormAction(productId, selectedQuantity) {
        var formElement = document.getElementById("addToCartForm" + productId);
        if (formElement) {
            formElement.action = '/store/add_to_cart/' + productId + '/' + selectedQuantity + '/';
        } else {
            console.error('Could not find form for product ID:', productId);
        }
    }

    function updateActiveQuantityButton(productId, selectedQuantity) {
        var allButtons = document.querySelectorAll(`button[data-product-id="${productId}"]`);
        var selectedButton = document.querySelector(`button[data-product-id="${productId}"][data-quantity="${selectedQuantity}"]`);
        if (selectedButton) {
            allButtons.forEach(function (button) {
                button.classList.remove('active-quantity');
            });
            selectedButton.classList.add('active-quantity');
        }
    }

    function displayDiscountPercentage(price, finalPrice, productId) {
        const priceElement = document.getElementById("price" + productId);
        const finalPriceElement = document.getElementById("finalPrice" + productId);
        const discountContainer = document.getElementById("discount" + productId);

        if (priceElement && finalPriceElement && discountContainer) {
            const originalPrice = parseFloat(price.replace('MRP: ₹', '').trim());
            const discountedPrice = parseFloat(finalPrice.replace('Price: ₹', '').trim());

            const discountPercentage = ((originalPrice - discountedPrice) / originalPrice) * 100;

            discountContainer.textContent = discountPercentage.toFixed(0) + '% OFF';
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        {% for product_chunk in product_chunk_list %}
        {% for product in product_chunk %}
        var productId = {{ product.id }};
    var priceElement = document.getElementById("price" + productId);
    var finalPriceElement = document.getElementById("finalPrice" + productId);
    displayDiscountPercentage(priceElement.textContent, finalPriceElement.textContent, productId);
    var selectedQuantity = '{{ product.productquantity_set.first.quantity.id }}';
    updateFormAction(productId, selectedQuantity);
    {% endfor %}
    {% endfor %}
    });
</script>
<script>
    function addToCart(productId) {
        // Get the form element
        var formElement = document.getElementById("addToCartForm" + productId);

        // Prevent the default form submission
        formElement.addEventListener("submit", function (event) {
            event.preventDefault();

            // Perform AJAX POST request
            ajaxPost(formElement.action, new FormData(formElement), function (response) {
            });
        });
    }

    // Function to perform an AJAX POST request
    function ajaxPost(url, data, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("X-CSRFToken", getCSRFToken()); // Add CSRF token if using Django
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Successful response
                    callback(JSON.parse(xhr.responseText));
                } else {
                    // Handle error
                    console.error("Error:", xhr.status);
                }
            }
        };
        xhr.send(data);
    }

    // Function to get CSRF token (specific to Django)
    function getCSRFToken() {
        var csrfCookie = document.cookie.match(/csrftoken=([\w-]+)/);
        return csrfCookie ? csrfCookie[1] : null;
    }
</script>
<script>
    // Add JavaScript to handle popup display
    document.addEventListener('DOMContentLoaded', function () {
        // Check if the popup container exists
        const popupContainer = document.getElementById('popup-container');

        // Display the popup if it exists
        if (popupContainer) {
            popupContainer.style.display = 'flex';
        }
    });

    // Function to close the popup
    function closePopup() {
        const popupContainer = document.getElementById('popup-container');
        if (popupContainer) {
            popupContainer.style.display = 'none';
        }
    }
</script>
<script>
    // Function to open the getintouchpopup
    function openGetInTouchPopup() {
      document.getElementById('overlay').style.display = 'block';
      document.getElementById('getintouchpopup').style.display = 'block';
    }
    
    // Function to close the getintouchpopup
    function closeGetInTouchPopup() {
      document.getElementById('overlay').style.display = 'none';
      document.getElementById('getintouchpopup').style.display = 'none';
    }
    </script>
{% endblock javascript %}