{% extends 'admin/change_list.html' %}
{% load static %}
{% load i18n admin_urls static %}

{% block extrastyle %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<style>
    .chart-container {
      width: 100%;
      position: relative; 
      height:auto;
    }
    .half-chart-container{
        width: 100% !important;
        display: flex;
        justify-content: space-evenly;
    }
    .half-chart{
        width: 50%;
    }
    @media (max-width: 767px) {
      .half-chart-container{
        display: block;
      }
      .half-chart{
        width: 100%;
      }
    }
</style>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h2 class="text-center mb-3">Total Sales Chart</h2>
        <div class="chart-container mt-4 mb-4">
          <canvas id="salesChart"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="chart-container mt-4 mb-4 half-chart-container">
                <div class="half-chart">
                    <h2 class="text-center mb-3">Order Status Chart</h2>
                    <canvas id="orderStatusChart"></canvas>
                </div>
                <div class="half-chart">
                    <h2 class="text-center mb-3">Product Quantity Chart</h2>
                    <canvas id="productQuantityChart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
    // Function to generate dynamic colors based on quantity
    function generateColors(numColors, totalQuantities) {
        const colors = [];
        const maxQuantity = Math.max(...totalQuantities);
        const minQuantity = Math.min(...totalQuantities);
    
        // Generate color shades based on quantity
        for (let i = 0; i < numColors; i++) {
            const normalizedQuantity = (totalQuantities[i] - minQuantity) / (maxQuantity - minQuantity);
            const color = getColorShade(normalizedQuantity);
            colors.push(color);
        }
    
        return colors;
    }
    
    // Function to get color shade based on normalized quantity
    function getColorShade(normalizedQuantity) {
        const red = Math.round(255 * (1 - normalizedQuantity*0.5));
        const green = Math.round(255 * (normalizedQuantity ** 0.25));
        const blue = 0;
        const alpha = 0.2;  // Set alpha value (transparency)
    
        return `rgba(${red}, ${green}, ${blue}, ${alpha})`;
    }
    document.addEventListener('DOMContentLoaded', function () {
      // Sales Chart
      const salesCtx = document.getElementById('salesChart').getContext('2d');
      let salesChartData = {{ chart_data|safe }};
      
      if (Array.isArray(salesChartData) && salesChartData.length > 0) {
        const salesDates = salesChartData.map(entry => new Date(entry.chart_date));
        const salesRevenues = salesChartData.map(entry => entry.revenue);

        const salesChart = new Chart(salesCtx, {
          type: 'line',
          data: {
            labels: salesDates,
            datasets: [{
              label: 'Total Sales',
              data: salesRevenues,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              x: {
                type: 'time',
                time: {
                  unit: 'day'
                },
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                title: {
                  display: true,
                  text: 'Total Sales'
                }
              }
            }
          }
        });
      } else {
        console.error('Invalid or empty salesChartData:', salesChartData);
      }

      // Product Quantity Chart
      const productQuantityCtx = document.getElementById('productQuantityChart').getContext('2d');
          let productQuantityChartData = {{ product_quantity_data|safe }};
        
          if (Array.isArray(productQuantityChartData) && productQuantityChartData.length > 0) {
              const productNames = productQuantityChartData.map(entry => entry.product_name);
              const totalQuantities = productQuantityChartData.map(entry => entry.total_quantity);
          
              // Generate dynamic colors based on quantity
              const backgroundColors = generateColors(totalQuantities.length, totalQuantities);
          
              const productQuantityChart = new Chart(productQuantityCtx, {
                  type: 'polarArea',
                  data: {
                      labels: productNames,
                      datasets: [{
                          label: 'Total Quantity',
                          data: totalQuantities,
                          backgroundColor: backgroundColors,
                          borderColor: backgroundColors.map(color => color.replace('0.2', '1')),  // Set border colors to full opacity
                          borderWidth: 1
                      }]
                  },
                  options: {
                      scales: {
                          x: {
                              title: {
                                  display: true,
                                  text: 'Product'
                              }
                          },
                          y: {
                              title: {
                                  display: true,
                                  text: 'Quantity of Product Sold'
                              }
                          }
                      }
                  }
              });
          } else {
              console.error('Invalid or empty productQuantityChartData:', productQuantityChartData);
          }
      

      // Order Status Chart
      const orderStatusCtx = document.getElementById('orderStatusChart').getContext('2d');
      let orderStatusChartData = {{ order_status_data|safe }};
      
      if (Array.isArray(orderStatusChartData) && orderStatusChartData.length > 0) {
          const orderStatusLabels = orderStatusChartData.map(entry => entry.delivery_status);
          const totalOrders = orderStatusChartData.map(entry => entry.total_orders);
      
          const orderStatusDataset = [{
              data: totalOrders,
              backgroundColor: orderStatusLabels.map(label => getStatusColor(label)),
              borderColor: orderStatusLabels.map(label => getStatusColor(label).replace('0.2', '1')),  // Set border colors to full opacity
              borderWidth: 1
          }];
      
          const orderStatusChart = new Chart(orderStatusCtx, {
              type: 'pie',
              data: {
                  labels: orderStatusLabels,
                  datasets: orderStatusDataset
              },
              options: {
                  scales: {
                      x: {
                          title: {
                              display: true,
                              text: 'Order Status'
                          }
                      },
                      y: {
                          title: {
                              display: true,
                              text: 'Total Orders'
                          }
                      }
                  }
              }
          });
      } else {
          console.error('Invalid or empty orderStatusChartData:', orderStatusChartData);
      }
      
      // Function to get color based on status
      function getStatusColor(status) {
          switch (status) {
              // Existing statuses
              case 'Pending':
                  return 'rgba(255, 206, 86, 0.2)';
              case 'Accepted':
                  return 'rgba(153, 102, 255, 0.2)';
              case 'Out For Delivery':
                  return 'rgba(54, 162, 235, 0.2)';
              case 'Delivered':
                  return 'rgba(75, 192, 192, 0.2)';
              case 'Cancelled':
                  return 'rgba(255, 99, 132, 0.2)';
              // New statuses
              case 'Return Requested':
                  return 'rgba(255, 0, 0, 0.2)'; // Red
              case 'Return Accepted':
                  return 'rgba(255, 165, 0, 0.2)'; // Orange
              case 'Return Rejected':
                  return 'rgba(128, 0, 128, 0.2)'; // Purple
              case 'Returned':
                  return 'rgba(0, 128, 0, 0.2)'; // Green
              case 'Refunded':
                  return 'rgba(0, 255, 0, 0.2)'; // Lime Green
              case 'Replacement Required':
                  return 'rgba(255, 69, 0, 0.2)'; // Red-Orange
              case 'Replacement Accepted':
                  return 'rgba(0, 255, 255, 0.2)'; // Cyan
              case 'Replacement Rejected':
                  return 'rgba(255, 20, 147, 0.2)'; // Deep Pink
              case 'Product Replaced':
                  return 'rgba(255, 215, 0, 0.2)'; // Gold
              case 'Replacement Complete':
                  return 'rgba(173, 216, 230, 0.2)'; // Light Blue
              // Emotions
              case 'Happy':
                  return 'rgba(0, 255, 0, 0.2)'; // Green for Delivered
              case 'Sad':
                  return 'rgba(255, 69, 0, 0.2)'; // Red-Orange for Cancelled
              default:
                  return 'rgba(0, 0, 0, 0.2)'; // Default color
          }
      }
      
    });
  </script>
  {{ block.super }}
  {% endblock %}
  {% block date_hierarchy %}
  <div id="date-hierarchy" class="date-hierarchy">
    <h2>{% trans "Date hierarchy" %}</h2>
    <div class="filter">
      <h3>{% trans "By Date" %}</h3>
      <form action="" method="GET" id="date-filter-form">
        <label for="id_date__gte">{% trans 'From:' %}</label>
        <input type="date" name="date__gte" id="id_date__gte" class="vDateField" value="{{ date_params.gte }}">
        <label for="id_date__lte">{% trans 'To:' %}</label>
        <input type="date" name="date__lte" id="id_date__lte" class="vDateField" value="{{ date_params.lte }}">
        <input type="submit" value="{% trans 'Go' %}">
      </form>
    </div>
  </div>
  <h1 style="margin-top: 20px;">SALES DATA</h1>
{% endblock %}
