{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }} - Product Details
{% endblock title %}
{% block styles %}
<style>
    .product-details-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
        flex-direction: row;
    }

    .product-image {
        flex: 1;
        padding: 20px;
    }

    .product-info {
        flex: 2;
        margin-left: 20px;
    }

    .product-price {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }

    .availability {
        margin-top: 10px;
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        margin-right: 10px;
    }

    .error-message {
        color: #dc3545;
        font-size: 14px;
        margin-top: 8px;
    }

    .img-fluid {
        margin-inline: auto;
        max-height: 300px;
        object-fit: contain;
    }

    .text-btn {
        font-size: large;
        margin-left: 10px;
        cursor: pointer;
    }

    .hide-content {
        display: none;
    }
    .discription{
        font-size: .875em;
    }

    @media (max-width: 767px) {
        .product-details-container {
            flex-direction: column-reverse;
            align-items: center;
        }
        h2{
            font-size: medium;
        }

        .product-info {
            margin-left: 0;
            margin-top: 20px;
        }

        .lead {
            font-size: small;
        }

        .img-fluid {
            max-height: 300px;
        }

        .action-buttons {
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }

        .p-name {
            font-size: larger;
        }

        .text-btn {
            font-size: medium;
            margin-left: 0;
        }
        .row{
            flex-direction: column-reverse;
        }
        .discription{
            font-size: 1rem;
        }
    }
</style>
{% endblock styles %}

{% block body %}
<!-- Product Detail -->
<div class="mt-5 product-details-container">  
    <div class="row" style="width: 100%;">
        <div class="col-12 col-md-8">
            <div class="product-info card h-100 me-md-5 p-5">
                <h1 class="p-name">{{ product.name }}</h1>
                <h2>Product Details:</h2>
                <div id="product-description" class="lead">
                    <span id="less-content" class="discription">
                        {{ product.description|linebreaksbr|truncatewords_html:150 }}
                    </span>
                    {% if product.description|length > 150 %}
                    <span id="more-btn" class="text-btn text-success">More</span>
                    {% endif %}
                    <span id="more-content" class="hide-content discription">
                        {{ product.description|linebreaksbr|safe }}
                    </span>
                    <span id="less-btn" class="hide-content text-btn text-danger">Less</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="product-image card h-100">
                <!-- Image Carousel -->
                <div id="carousel{{ product.id }}" class="carousel slide card" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for media in product.media_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                {% if media.media_type == 'image' %}
                                    <img src="{{ media.media_url }}" class="d-block w-100 img-fluid" alt="Product Image">
                                {% elif media.media_type == 'video' %}
                                    <video class="d-block w-100" controls>
                                        <source src="{{ media.media_url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            
                <!-- Product Details -->
                <div class="product-details card mt-4 p-3">
                    <p>Quantity: 
                        {% for quantity_instance in product_quantities %}
                            <button class="btn btn-outline-success{% if quantity_instance.quantity.id == selected_quantity %} active-quantity {% endif %}" data-quantity="{{ quantity_instance.quantity.id }}" data-final-price="{{ quantity_instance.final_price }}" data-price="{{ quantity_instance.price }}" data-availablity="{{ quantity_instance.available }}">
                                {{ quantity_instance.quantity.name }}
                            </button>
                        {% endfor %}
                    </p>
                    <p class="availability">Availability: 
                        {% if product.productquantity_set.first.available %}
                            <span id="inStock" class="text-success">In Stock</span>
                            <span id="outOfStock" style="display: none;" class="text-danger">Out of Stock</span>
                        {% else %}
                            <span id="inStock" style="display: none;" class="text-success">In Stock</span>
                            <span id="outOfStock" class="text-danger">Out of Stock</span>
                        {% endif %}
                    </p>
                    <span id="price" class="card-text small text-decoration-line-through text-danger">MRP: ₹<span id="PriceValue">{{ product.productquantity_set.first.price }}</span></span>
                    <span class="text-success discount mx-1 extra small">XX% OFF</span>
                    <p id="final_price" class="product-price">Price: ₹<span id="finalPriceValue">{{ product.productquantity_set.first.final_price }}</span></p>
                    <form method="post" id="addToCartForm{{ product.id }}" action="{% url 'add_to_cart' product.id product.productquantity_set.first.quantity.id %}" onclick="addToCart('{{ product.id }}')">
                        {% csrf_token %}
                    <button type="submit" id="addToCartBtn" class="btn btn-success mt-2"><i class="fa-solid fa-cart-plus"></i> Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script>
    const moreBtn = document.getElementById('more-btn');
    const lessBtn = document.getElementById('less-btn');
    const moreContent = document.getElementById('more-content');
    const lessContent = document.getElementById('less-content');

    if (moreBtn) {
        moreBtn.addEventListener('click', function () {
            moreContent.style.display = 'inline';
            moreBtn.style.display = 'none';
            lessBtn.style.display = 'inline';
            lessContent.style.display = 'none';
        });
    }

    if (lessBtn) {
        lessBtn.addEventListener('click', function () {
            moreContent.style.display = 'none';
            moreBtn.style.display = 'inline';
            lessBtn.style.display = 'none';
            lessContent.style.display = 'inline';
        });
    }

    // Function to calculate and display the discount percentage
    function displayDiscountPercentage(price, finalPrice, discountContainer) {
        // Ensure the elements exist before performing calculations
        if (price && finalPrice && discountContainer) {
            // Extract numerical values from the strings using regular expressions
            const originalPrice = price;
            const discountedPrice = finalPrice;

            // Calculate the discount percentage
            const discountPercentage = ((originalPrice - discountedPrice) / originalPrice) * 100;

            // Display the discount percentage in the specified container
            discountContainer.textContent = discountPercentage.toFixed(0) + '% OFF';
        }
    }
    function updateFormAction(productId, selectedQuantity) {
        console.log(productId)
        var formElement = document.getElementById("addToCartForm" + productId);
        if (formElement) {
            formElement.action = '/store/add_to_cart/' + productId + '/' + selectedQuantity + '/';
        } else {
            console.error('Could not find form for product ID:', productId);
        }
    }   

    // Call the function for each product card on page load
    document.addEventListener('DOMContentLoaded', function () {
        const priceValueElement = document.getElementById('PriceValue');
        const finalPriceValueElement = document.getElementById('finalPriceValue');
        const discountContainer = document.querySelector('.discount');

        if (priceValueElement && finalPriceValueElement && discountContainer) {
            const price = priceValueElement.textContent;
            const finalPrice = finalPriceValueElement.textContent;

            // Call the function to display the discount percentage
            displayDiscountPercentage(price, finalPrice, discountContainer);
        }

        const quantityButtons = document.querySelectorAll('.product-details button[data-quantity]');
        const addToCartBtn = document.getElementById('addToCartBtn');
        let selected_quantity = null;

        quantityButtons.forEach(button => {
            button.addEventListener('click', function () {
                const quantityId = button.getAttribute('data-quantity');
                const finalPrice = button.getAttribute('data-final-price');
                const Price = button.getAttribute('data-price');
                const availability = button.getAttribute('data-availablity');
                const inStockElement = document.getElementById('inStock');
                const outOfStockElement = document.getElementById('outOfStock'); 
                updateFormAction('{{ product.id }}', quantityId);

                finalPriceValueElement.textContent = finalPrice;
                priceValueElement.textContent = Price;

                quantityButtons.forEach(btn => {
                    btn.classList.remove('active-quantity');
                });

                // Add active class to the clicked button
                button.classList.add('active-quantity');

                // Update selected quantity
                selected_quantity = quantityId;

                if (availability==='True') 
                {
                     inStockElement.style.display = 'inline';
                     outOfStockElement.style.display = 'none';
                     // Enable add to cart button
                    addToCartBtn.removeAttribute('disabled');
                } 
                else 
                {
                     inStockElement.style.display = 'none';
                      outOfStockElement.style.display = 'inline';
                      // Enable add to cart button
                      addToCartBtn.setAttribute('disabled', 'disabled');
                }
                // Update discount percentage if needed
                displayDiscountPercentage(Price, finalPrice, discountContainer);

            });
        });
    });
</script>
<script>
    function addToCart(productId) {
        // Get the form element
        var formElement = document.getElementById("addToCartForm" + productId);

        // Prevent the default form submission
        formElement.addEventListener("submit", function (event) {
            event.preventDefault();

            // Perform AJAX POST request
            ajaxPost(formElement.action, new FormData(formElement), function (response) {
            });
        });
    }

    // Function to perform an AJAX POST request
    function ajaxPost(url, data, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("X-CSRFToken", getCSRFToken()); // Add CSRF token if using Django
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Successful response
                    callback(JSON.parse(xhr.responseText));
                } else {
                    // Handle error
                    console.error("Error:", xhr.status);
                }
            }
        };
        xhr.send(data);
    }

    // Function to get CSRF token (specific to Django)
    function getCSRFToken() {
        var csrfCookie = document.cookie.match(/csrftoken=([\w-]+)/);
        return csrfCookie ? csrfCookie[1] : null;
    }
</script>

{% endblock javascript %}

